<% layout('layouts/boilerplate') %> 
<!-- TO edit Current Campground -->
    <form action="/campground/<%= camp._id%>?_method=PUT" name="campground" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Edit Title</label>
                <input type="text" id="title" name="campground[title]" class="form-control" 
                value="<%=camp.title%>">
              </div>
              <div class="mb-3">
                  <label for="location" class="form-label"> Edit Location</label>
                  <input class="form-control" id="location" name="campground[location]" type="text" 
                  value="<%=camp.location%>">
              </div>
              <div class="mb-3">
                <label class="form-label" for="image">Change Image</label>
                <input class="form-control" type="text" id="image" name="campground[image]" value="<%=camp.image%>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Change Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" value="<%=camp.price %> " aria-label="price"
                        aria-describedby="price-label" name="campground[price]">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description"
                    name="campground[description]"><%= camp.description%></textarea>
            </div>

            <div>
                <button class="btn btn-info" type="submit">Save camp</button>
            </div>
        </form>