<% layout('layouts/boilerplate') %> 

<!-- Campground Page to show All the campgrund Currently availble -->
<style>
.showImg{
    width: 415px;
    height: 276px;
}
</style>

<div class="d-flex flex-row my-3">
    <h1>Avaiable Campground </h1>
    <h3 class="m-2" ><a class="btn btn-outline-primary" href="/campground/new">Add new Campground</a></h3>

</div>

        <% for(let ithcamp of campground){ %>
            <div class="card mb-3" >
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid showImg" src="<%= ithcamp.image%>" alt="..." >
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-tittle ">
                            <%= ithcamp.title %>
                        </h5>
                        <p class="card-text">
                            <%= ithcamp.description%> 
                        </p>
                        <p>
                            <small class="card-text">
                                <%= ithcamp.location %> 
                            </small>
                        </p>

                        <a class="btn btn-primary" href="/campground/<%=ithcamp._id %> ">View Camp</a>
                    </div>
                </div>
                </div>

            </div> 
        <% } %> 