<% layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= camp.image%>" class="card-image-top" alt="..">
            <div class="card-body">
                <h5 class="card-title"><%= camp.title  %>  </h5>
            <p class="card-text"> <%= camp.description  %>  </p>
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">
                <%= camp.location %> 
            </li>
            <li class="list-group-item">
                $<%= camp.price  %> 
            </li>
        </ul>
        
        <div class="card-body">
            <a class="card-link btn btn-info" href="/campground/<%=camp._id%>/edit">Edit Camp Details</a>
            <form class="d-inline" action="/campground/<%=camp._id%>?_method=DELETE" method="post">
                <button class="btn btn-danger" >DeleteCamp</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div> 
</div>
</div>

<div>
    <a href="/campground">All campgrounds</a>
</div>
